
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

/* sections layout */
.boek {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 1em;
	margin-bottom: 1em;
}

/* boek opmaak */
.boek__cover {
	max-width: 100px;
}

.boek__prijs {
	font-size: 1.5em;
}

.boek__rij--accent {
	background-color: #DDD;
}

.boek__data--cel {
	padding: 1em;
	vertical-align: top;
}

.boek__data--cel:nth-child(3) {
	padding: 0;
}
